*.c
*.clf
*.pdb
*.log
*.suo
*.rej
*.orig
*.patch
*.Cache
*.playlist
*.user
*.tmp_proj
*.live.config
*.nupkg
*.tss
*.csv
.ipynb_checkpoints
**/.idea/*
**/packages/*
**/.vs/*
**/.pytest_cache/*

[dD]ebug
[rR]elease
[cC]heckin
[bB]in
_ReSharper*
ReSharper*
obj
log
logs
.idea
node_modules
__pycache__

/.vs
*.pubxml
.vs
*.coverage
*.vscode
